/*   Simple Typography   */

* {
	margin: 0;
	padding: 0
}

body {
	font-family: sans-sarif, arial !important;
	position: relative;
}

/* ---------------------------------------- */
/*             Navbar
/* ---------------------------------------- */
.navbar {
	background: rgba(0, 0, 0, 0.8) !important;
}

.navbar .nav-item {
	margin: 0px 10px;
}

.navbar .nav-item .nav-link {
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	text-transform: uppercase;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
	color: #EAB34C !important;
}

.navbar-brand img {
	width: 60px;
}

/* ---------------------------------------- */
/*            Header Section
/* ---------------------------------------- */
.typed-cursor {
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


.header {
	background: url(images/lacityscape.jpg) no-repeat;
	background-position: center center;
	background-size: cover;
	/* transform: rotate(100deg); */
}

.header .typing {
	color: #EAB34C;
}

.header .overlay {
	background: rgba(0, 0, 0, 0.4);
	padding-top: 170px;
	padding-bottom: 130px;
}

.header .contents {}

.header .contents h3 {
	color: #EAB34C;
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
	font-size: 48px;
	margin-bottom: 0px;
}

.header .contents h1 {
	color: #FFFFFF;
	font-family: 'Dosis', sans-serif;
	font-weight: 700;
	font-size: 60px;
	margin-bottom: 0px;
	margin: 20px 0px;
}

.header .contents h1 span {
	color: #EAB34C;
}

.header .contents h4 {
	color: #FFFFFF;
	font-family: 'Dosis', sans-serif;
	font-weight: 500;
	font-size: 42px;
	margin-bottom: 0px;
}

.header .clickable_button {
	margin: 30px 0px;
}

.header .clickable_button ul {
	margin-bottom: 0px;
}

.header .clickable_button ul li {
	list-style: none;
	display: inline-block;
}

.header .clickable_button ul li:first-child {
	margin-right: 20px;
}

.header .clickable_button ul li:first-child a {
	color: #232323;
	background: #EAB34C;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
	margin-bottom: 12px;
}

.header .clickable_button ul li:first-child a:hover {
	background: #FFFFFF;
}

.header .clickable_button ul li:last-child a {
	color: #FFFFFF;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.header .clickable_button ul li:last-child a:hover {
	border: 1px solid #FFFFFF;
}

.header .clickable_button ul li a {
	text-decoration: none;
	display: block;
	padding: 7px 35px;
	border: 1px solid #EAB34C;
	border-radius: 3px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 16px;
}

.header .social_icon {}

.header .social_icon ul {
	margin-bottom: 0px;
}

.header .social_icon ul li {
	list-style: none;
	display: inline-block;
	margin: 0px 15px;
}

.header .social_icon ul li:first-child {
	margin-left: 0px;
}

.header .social_icon ul li i {
	color: #FFFFFF;
	font-size: 35px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

/* .header .social_icon ul li i:hover {
	color: #EAB34C;
} */

.header .social_icon ul li:nth-child(1) i:hover {
	color: #3b5999;
}

.header .social_icon ul li:nth-child(2) i:hover {
	color: #0077B5;
}

.header .social_icon ul li:nth-child(3) i:hover {
	color: #bd081c;
}

.header .social_icon ul li:nth-child(4) i:hover {
	/* color: #ea4c89; */
	color: #008000;
}

/* ---------------------------------------- */
/*             About Section
/* ---------------------------------------- */
.about_me {
	background: #031219;
	padding: 80px 0px;
}

.about_me .about_photo {
	position: relative;
}


.about_me .about_photo img {}

.about_me .about_photo .image_rectangle {
	position: absolute;
	width: 100%;
	height: 100%;
	background: transparent;
	border: 7px solid #EAB34C;
	top: 25px;
	left: -25px;
}

.about_me .contents .top_content {
	margin-top: -20px;
}

.about_me .contents .top_content h2 {
	color: #FFFFFF;
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
	font-size: 56px;
	position: relative;
	padding-bottom: 10px;
	display: inline-block;
	margin-bottom: 0px;
}

.about_me .contents .top_content h2:after {
	content: "";
	position: absolute;
	background: #EAB34C;
	width: 50%;
	height: 3px;
	bottom: 0px;
	left: 0px;
}

.about_me .contents .top_content h3 {
	color: #FFFFFF;
	font-family: 'Dosis', sans-serif;
	font-weight: 300;
	font-size: 50px;
	margin-bottom: 0px;
	margin: 25px 0px;
}

.about_me .contents .top_content p {
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	letter-spacing: 1px;
	word-spacing: 3px;
}

.about_me .contents .skills_section {}

.about_me .contents .skills_section h3 {
	color: #EAB34C;
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	font-size: 36px;
}

.about_me .contents .skills_section .skills_bar {}

.about_me .skills_section .skills_bar .single_skill {
	margin-bottom: 10px;
}

.about_me .skills_section .skills_bar .single_skill h5 {
	color: #F2F2F3;
	font-family: 'Dosis', sans-serif;
	font-weight: 500;
	font-size: 20px;
	letter-spacing: 1px;
}

.about_me .skills_section .skills_bar .single_skill .skill_full {
	background: #E9ECEF;
	width: 100%;
	height: 7px;
	border-radius: 3px;
	margin-top: 7px;
}

.skill_full{
	margin-bottom: 12px;
}

.about_me .skills_section .skills_bar .single_skill .skill_full .html_skills {
	background: #EAB34C;
	width: 77%;
	height: 7px;
	border-radius: 3px 0px 0px 3px;
}

.about_me .skills_section .skills_bar .single_skill .skill_full .js_skills {
	background: #EAB34C;
	width: 70%;
	height: 7px;
	border-radius: 3px 0px 0px 3px;
}

.about_me .skills_section .skills_bar .single_skill .skill_full .jquery_skills {
	background: #EAB34C;
	width: 65%;
	height: 7px;
	border-radius: 3px 0px 0px 3px;
}

.about_me .skills_section .skills_bar .single_skill .skill_full .node_skills {
	background: #EAB34C;
	width: 60%;
	height: 7px;
	border-radius: 3px 0px 0px 3px;
}

.about_me .skills_section .skills_bar .single_skill .skill_full .express_skills {
	background: #EAB34C;
	width: 60%;
	height: 7px;
	border-radius: 3px 0px 0px 3px;
}

.about_me .skills_section .skills_bar .single_skill .skill_full .mongoose_skills {
	background: #EAB34C;
	width: 60%;
	height: 7px;
	border-radius: 3px 0px 0px 3px;
}

.about_me .skills_section .skills_bar .single_skill .skill_full .mongodb_skills {
	background: #EAB34C;
	width: 60%;
	height: 7px;
	border-radius: 3px 0px 0px 3px;
}

.about_me .skills_section .skills_bar .single_skill .skill_full .react_skills {
	background: #EAB34C;
	width: 60%;
	height: 7px;
	border-radius: 3px 0px 0px 3px;
}

.about_me .skills_section .skills_bar .single_skill .skill_full .redux_skills {
	background: #EAB34C;
	width: 60%;
	height: 7px;
	border-radius: 3px 0px 0px 3px;
}

.about_me .skills_section .skills_bar .single_skill .skill_full .wp_skills {
	background: #EAB34C;
	width: 50%;
	height: 7px;
	border-radius: 3px 0px 0px 3px;
}

.about_me .skills_section .skills_bar .single_skill .skill_full .git_skills {
	background: #EAB34C;
	width: 65%;
	height: 7px;
	border-radius: 3px 0px 0px 3px;
}

.about_me .skills_section .skills_bar .single_skill .skill_full .tdd_skills {
	background: #EAB34C;
	width: 48%;
	height: 7px;
	border-radius: 3px 0px 0px 3px;
}

.about_me .skills_section .skills_bar .single_skill .skill_full .dgmrkt_skills {
	background: #EAB34C;
	width: 32%;
	height: 7px;
	border-radius: 3px 0px 0px 3px;
}
/* ---------------------------------------- */
/*            Services Section
/* ---------------------------------------- */

.service {
	background: #F1F1F1;;
	padding: 80px 0px;
}

.service .contents {
	padding: 160px 0px;
}

.service .contents h2 {
	color: #454545;
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
	font-size: 56px;
	position: relative;
	padding-bottom: 10px;
	display: inline-block;
	margin-bottom: 30px;
}

.service .contents h2:after {
	content: "";
	position: absolute;
	background: #EAB34C;
	width: 50%;
	height: 3px;
	bottom: 0px;
	left: 0px;
}

.service .contents p {
	color: #708198;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	letter-spacing: 1px;
	word-spacing: 3px;
}

.service .categories {}

.service .categories .category {
	padding: 25px 20px;
	box-sizing: border-box;
	border: 1px dotted #212529;
	border-radius: 5px;
	max-width: 280px;
	margin: 10px 10px;
	-webkit-box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.service .categories .category:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.service .categories .category .icon {}

.service .categories .category .icon i {
	color: #212529;
	font-size: 40px;
}

.service .categories .category .bottom_contents {}

.service .categories .category .bottom_contents h3 {
	color: #59687C;
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 0px;
	margin: 10px 0px;
}

.service .categories .category .bottom_contents p {
	color: #708198;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	letter-spacing: 1px;
	word-spacing: 3px;
}

/* ---------------------------------------- */
/*           Portfolio Section
/* ---------------------------------------- */
.gallery_section{
	background:#FFFFFF;
	padding:60px 0px;
}
.gallery_section .heading{
	text-align:center;
}

.gallery_section h3{
	color:#454545;
	font-family: 'Dosis', sans-serif;
	font-weight:600;
	font-size:56px;
	margin-bottom:40px;
	text-align:center;
	position:relative;
	display:inline-block;
	padding-bottom:15px;
}

.gallery_section h3:after{
	content:"";
	position:absolute;
	background:#EAB34C;
	width:100px;
	height:3px;
	bottom:0px;
	left:20%;
}

/* ---- Project Item ---- */

.single_photo {
	position: relative;
	overflow:hidden;
}
.single_photo img{
	max-width:100%;
	height:auto;
}
.single_photo .clickable_button{
	background:transparent;
	width:100%;
	height:100%;
	position:absolute;
	top:0%;
	left:0%;
	transition:all 0.4s ease;
}
.single_photo .clickable_button ul{
	margin-bottom:0px;
	position:absolute;
	top:41%;
	left:19%;
}
.single_photo .clickable_button ul li{
	list-style:none;
	display:inline-block;
	margin:0px 3px;
}
.single_photo .clickable_button ul li a{
	color: #262626;
	background:#FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	font-size:14px;
	display:inline-block;
	padding:8px 0px;
	text-decoration:none;
	border:2px solid #EAB34C;
	width:100px;
	text-align:center;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	transition:all 0.2s ease;
}

.three_button .clickable_button ul{
	left:9%;
}
.three_button .clickable_button ul li{
	
}
.three_button .clickable_button ul li a{
	width:90px;
}


.single_photo .clickable_button ul li a:hover{
	color:#FFFFFF;
	background:#EAB34C;
	border:2px solid #FFFFFF;
}
.single_photo:hover .clickable_button{
	cursor:pointer;
	top:0%;
}

.gallery_section .single_photo{
	padding-left:0px;
	padding-right:0px;
	border-left:10px solid #FFFFFF;
	border-right:10px solid #FFFFFF;
	margin:10px 0px;
}

/*	Extra small devices (portrait phones, less than 576px)	*/
@media (max-width: 575.98px) {

	.single_photo .clickable_button ul {
		margin-bottom: 0px;
		position: absolute;
		top: 44%;
		left: 22%;
	}
	.three_button .clickable_button ul{
		left:13%;
	}	
	
}

/*	Extra small devices (portrait phones, less than 420px)	*/
@media (max-width: 420px) {
	
	.single_photo .clickable_button ul {
		margin-bottom: 0px;
		position: absolute;
		top: 44%;
		left: 13%;
	}
	.three_button .clickable_button ul{
		left:4%;
	}
	.three_button .clickable_button ul li a{
		width:80px;
	}
	
}

/*	Small devices (landscape phones, 576px and up)	*/
@media (min-width: 576px) and (max-width: 767.98px) {
	
	.single_photo .clickable_button ul {
		margin-bottom: 0px;
		position: absolute;
		top: 41%;
		left: 10%;
	}
	.single_photo .clickable_button ul li a{
		padding:6px 0px;
		width:90px;
	}
	
	.three_button .clickable_button ul{
		left:3%;
	}
	.three_button .clickable_button ul li a{
		width:70px;
	}	
	
}

/*	Medium devices (tablets, 768px and up)	*/
@media (min-width: 768px) and (max-width: 991.98px) {
	
	.single_photo .clickable_button ul {
		margin-bottom: 0px;
		position: absolute;
		top: 39%;
		left: 10%;
	}
	.single_photo .clickable_button ul li a{
		width:80px;
		padding:5px 0px;
	}
	.three_button .clickable_button ul{
		left:3%;
	}
	.three_button .clickable_button ul li a{
		width:60px;
	}	
	
}

/*	Large devices (desktops, 992px and up)	*/
@media (min-width: 992px) and (max-width: 1199.98px) {

	.single_photo .clickable_button ul {
		margin-bottom: 0px;
		position: absolute;
		top: 41%;
		left: 14%;
	}
	.three_button .clickable_button ul{
		left:5%;
	}
	.three_button .clickable_button ul li a{
		width:80px;
	}	
	
}






/* .portfolio_section {
	background: #FFFFFF;
	padding: 60px 0px;
}


.portfolio_section .heading {
	text-align: center;
}

.portfolio_section h3 {
	color: #454545;
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
	font-size: 56px;
	margin-bottom: 40px;
	text-align: center;
	position: relative;
	display: inline-block;
	padding-bottom: 15px;
}

.portfolio_section h3:after {
	content: "";
	position: absolute;
	background: #EAB34C;
	width: 100px;
	height: 3px;
	bottom: 0px;
	left: 20%;
} */

/* ---- .element-item ---- */
/* .project_tools {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	margin: 8px;
}

.project_tools i {
	padding: 3px;
}

.project_title {
	margin-top: 12px;
	text-align: center;
}

.project_description {
	padding: 12px
}

.js_tool {
	color: rgb(182, 182, 30);
}

.single_project {
	position: relative;
	overflow: hidden;
	background-color: rgb(250, 218, 159);
}

.single_project img {
	max-width: 100%;
	height: auto;
}

.single_project .overlay {
	background: #0009;
	width: 100%;
	height: 100%;
	position: absolute;
	top: -100%;
	left: 0%;
	transition: all 0.4s ease;
}

.single_project .overlay ul {
	margin-bottom: 0px;
	position: absolute;
	top: 30%;
	left: 30%;
}

.single_project .overlay ul li {
	list-style: none;
	display: inline-block;
	margin: 0px 3px;
}

.single_project .overlay ul li a {
	color: #EAB34C;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 14px;
	display: inline-block;
	padding: 8px 0px;
	text-decoration: none;
	border: 2px solid #EAB34C;
	width: 100px;
	text-align: center;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.single_project .overlay ul li a:hover {
	color: #FFFFFF;
	background: #EAB34C;
	border: 2px solid #FFFFFF;
}

.single_project:hover .overlay {
	cursor: pointer;
	top: 0%;
}

.portfolio_section .single_project {
	padding-left: 0px;
	padding-right: 0px;
	border-left: 10px solid #FFFFFF;
	border-right: 10px solid #FFFFFF;
	margin: 15px 0px;
} */

/* ---------------------------------------- */
/*           Contact Me Section
/* ---------------------------------------- */

.contact_me {
	background: #031219;
	padding: 60px 0px;
}

.contact_me h2 {
	color: #FFFFFF;
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
	font-size: 48px;
	margin-bottom: 40px;
	text-align: center;
	position: relative;
	display: inline-block;
	padding-bottom: 15px;
}

.contact_me h2:after {
	content: "";
	position: absolute;
	background: #EAB34C;
	width: 100px;
	height: 3px;
	bottom: 0px;
	left: 20%;
}

.contact_me .form {}

.contact_me .form .input_types {
	background: transparent;
	border: none;
	border-bottom: 1px solid #EAB34C;
	border-radius: 0px;
}

.contact_me .form .message {
	background: transparent;
	border: none;
	border-bottom: 1px solid #EAB34C;
	border-radius: 0px;
	margin-top: 10px;
}

.form-control::placeholder {
	color: #6C757D;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 2px;
	word-spacing: 3px;
}

.contact_me .form .message {}

.contact_me .form .submit_button {
	margin-top: 20px;
	text-align: center;
}

.contact_me .form .submit_button button {
	color: #EAB34C;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 2px;
	background: transparent;
	border: 1px solid #EAB34C;
	border-radius: 4px;
	width: 100%;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.contact_me .form .submit_button button:hover {
	color: #FFFFFF;
	background: #EAB34C;
	border: 1px solid #FFFFFF;
}


.contact_me .contacts {
	padding-left: 30px;
	max-width: 960px;
	margin: 0px auto;
}

.contact_me .contacts .contact {
	margin: 20px 0px;
}

.contact_me .contacts .contact .icon {
	text-align: center;
}

.contact_me .contacts .contact .icon i {
	color: #FFFFFF;
	font-size: 32px;
	width: 66px;
	height: 66px;
	line-height: 66px;
	font-weight: bold;
	border: 1px dashed #EAB34C;
}

.contact_me .contacts .contact .content {}

.contact_me .contacts .contact .content h4 {
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 18px;
}

.contact_me .contacts .contact .content h3 {
	color: #FFFFFF;
	font-family: 'Dosis', sans-serif;
	font-weight: 500;
	font-size: 24px;
	margin-bottom: 0px;
}

/*	--------------------------------------	*/
/*           Footer Section
/*	--------------------------------------	*/


.footer {
	background: #041015;
	padding: 40px 0px;
}

.footer .social_icon {}

.footer .social_icon ul {
	margin-bottom: 0px;
	text-align: center;
}

.footer .social_icon ul li {
	list-style: none;
	display: inline-block;
	margin: 0px 10px;
}

.footer .social_icon ul li i {
	color: #FFFFFF;
	background: transparent;
	font-size: 20px;
	width: 48px;
	height: 48px;
	line-height: 48px;
	border: 1px dashed #EAB34C;
	-webkit-box-shadow: 0px 5px 10px rgba(234, 179, 76, 0.4);
	-moz-box-shadow: 0px 5px 10px rgba(234, 179, 76, 0.4);
	box-shadow: 0px 5px 10px rgba(234, 179, 76, 0.4);
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.footer .social_icon ul li:nth-child(1) i:hover {
	background: #3b5999;
}

.footer .social_icon ul li:nth-child(2) i:hover {
	background: #0077B5;
}

.footer .social_icon ul li:nth-child(3) i:hover {
	background: #bd081c;
}

.footer .social_icon ul li:nth-child(4) i:hover {
	/* background: #ea4c89; */
	background: #008000;
}

.footer .social_icon ul li:nth-child(5) i:hover {
	background: #e4405f;
}

.footer .copyright {
	text-align: center;
	margin-top: 40px;
}

.footer .copyright p {
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 2px;
	word-spacing: 5px;
	margin-bottom: 0px;
}